<%- include('partials/head', { title: 'Ads Listing' }) %>
<%- include('partials/header') %>

<div class="container mt-5">
    <h1 class="mb-4">Active Ads</h1>
    <div class="row">
        <% ads.forEach(ad => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= ad.title %></h5>
                        <p class="card-text"><%= ad.description %></p>
                        <a href="/ads/<%= ad.id %>" class="btn btn-primary">View Ad</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer') %>
