<%- include('partials/head', { title: 'Ads Listing' }) %>
<%- include('partials/header') %>

<div class="container mt-5">

    <!-- Jumbotron banner -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our Ads Platform!</h1>
        <p class="lead">Discover amazing offers or post your own ad to reach a wider audience.</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="/ads/post" role="button">Post an Ad</a>
    </div>

    <h2 class="mb-4">Active Ads</h2>
    <% if (noAds) { %>
        <div class="alert alert-info">
            <h4>No ads found</h4>
            <p>It seems there are no active ads at the moment. Be the first to post one!</p>
        </div>
    <% } else { %>
        <div class="row">
            <% ads.forEach(ad => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= ad.title %></h5>
                            <p class="card-text"><%= ad.description %></p>
                            <a href="/ads/<%= ad.id %>" class="btn btn-primary">View Ad</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>

<%- include('partials/footer') %>
