<%- include('partials/head', { title: 'Profile' }) %>
<%- include('partials/header') %>

<div class="container mt-5">
    <h1 class="mb-4">Your Profile</h1>

    <div class="row">
        <!-- Profile Image Column -->
        <div class="col-md-4 mb-4">
            <img src="https://picsum.photos/200" alt="Profile Image" class="img-fluid rounded-circle">
        </div>

        <!-- Profile Details Column -->
        <div class="col-md-8">
            <div class="mb-3">
                <label class="font-weight-bold">Username:</label>
                <p><%= user.username %></p>
            </div>

            <div class="mb-3">
                <label class="font-weight-bold">Email:</label>
                <p><%= user.email %></p>
            </div>
            <!-- <a href="/user/myads" class="btn btn-primary">My Ads</a> -->

            <a href="/user/profile/edit" class="btn btn-danger">Edit Profile</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
